main {
    max-width: 1100px;
    height: 100vh;
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    margin: 0 auto;
    padding-top: 30px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #333333;
    position: fixed;
}

#new-transaction {
    display: flex;
    flex-direction: column;
    min-height: 344px;
    width: 400px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    border: 1px solid #979797;
    padding: 20px 14.5px 0px;
}

#new-transaction h2 {
    margin-bottom: 21px;
}

.label-transaction {
    color: #333;
}

.input-transaction {
    width: 100%;
    height: 32px;
    border: solid 1px #979797;
    border-radius: 4px;
    padding: 0px 10px;
    color: #333;
    margin-bottom: 20px;
}

#btn-add-transition {
    width: 100%;
    height: 40px;
    background-color: #333;
    border-radius: 4px;
    border: none;

    font-family: 'Inter';
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 10px;
}

#transaction-box {
    height: 281px;
    width: 680px;
    margin-left: 20px;
}

#transaction-box h2 {
    margin: 20px 0;
}

#table-transaction {
    width: 100%;
}

#table-transaction td {
    padding-bottom: 10px;
    border-bottom: 1px solid #979797;
}

#table-transaction th {
    padding-bottom: 10px;
    border-bottom: 1px solid #979797;
}

#table-transaction tfoot td {
    border-top: 1px solid #979797;
    border-bottom: none;
    padding-top: 10px;
}

#checkGetData {
    display: none;
}

#formAlert {
    text-align: center;
    background-color: #d32f2f;
    padding: 10px;
    width: 100%;    
    color: white;
    display: none;    
}

.typeStyle {
    margin-left: 20px;
    margin-right: 11px;    
}

.table-left {
    text-align: left;
}

.table-right {
    text-align: right;
}

.lucro-span {
    font-family: Lato;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: right;
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    main {
        padding: 20px 20px 0;
        flex-flow: row nowrap;
    }
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
    main {
        padding: 20px 20px 0;
        flex-direction: column;
        row-gap: 23px;
    }

    #new-transaction {
        width: 100%;
        height: 189px;
        padding: 20px 10px;
        justify-content: space-around;
    }

    #organize-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    label {
        white-space: nowrap;
    }

    .input-format {
        width: 150px;
        display: flex;
        flex-direction: column;
    }

    #btn-add-transition {
        width: 200px;
        margin: 0 10px;
        align-self: flex-end;
    }
    .name-product {
        width: 348px;
    }

    #transaction-box {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 416px) {
    main {
        row-gap: 20px;
    }

    #new-transaction {
        height: 290px;
        margin-bottom: 20px;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid #979797;
        margin-bottom: 0;
    }

    .table-right {
        width: 98px;
    }

    #new-transaction h2 {
        display: none;
    }

    #organize-inputs {
        display: initial;
    }

    .input-format {
        width: 100%;
        display: block;
    }

    #btn-add-transition {
        width: 100%;
        align-self: center;
    }
}
